body{
background-color:black;
background-image:url('l.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

#cim{
font-family:elephant;
color:white;
text-align:center;
letter-spacing:0px;
font-size:100px;
margin-top:-10px;
margin-left:400px;
margin-right:400px;
font-weight:bold;
margin-bottom:30px;
}

#alcim{
font-family:Agency FB;
margin-top:-30px;
color:white;
}

::selection {
color:white;
background: rgb(255, 0, 0);
}

#tablazat{
font-size:0px;
border-collapse: collapse;
border:13px double green;
color:pink;
margin-left: auto;
margin-right: auto;
background-size: cover;
padding:20px;
}

th{
border:0.1px solid rgb(28, 127, 0, 0.4);
padding: 4px;
}

#pixelek{
border:none;
padding: 4px 4px;
font-size:0px;
margin-top: -4px;
margin-bottom: -4px;
margin-right: -4px;
margin-left: -4px;

}

#o1{
margin-right: auto;
margin-left: auto;
margin-top: 0px;
border-collapse: collapse;
}

#kozep{
padding: 0px;
padding-bottom: 0px;
font-size:20px;
padding-top: 0px;
border:none;
}

#szel1{
padding-left: 100px;
padding-right: 100px;
padding-bottom: 0px;
border:none;
}

#szel2{
padding-left: 100px;
padding-right: 100px;
padding-bottom: 0px;
border:none;
}

#fotabla{
margin-right: auto;
margin-left: auto;
margin-top: -8px;
border-collapse: collapse;
}

#fotablakozep{
padding-bottom: 200px;
border:none;
background-color:rgb(64, 255, 0, 0.0);
padding-top: 0px;
}

.window {
position: relative;
display: inline-block;
}

.window .window2 {
visibility: hidden;
width: 200px;
text-align: center;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-top-right-radius: 0px;
padding-top:7px;
padding-bottom:10px;
padding-left:5px;
padding-right:5px;
right: 4px;
top: -4px;
position: absolute;
z-index: 1;
box-shadow: 0px 0px 100px yellow;
border:3px solid green;
font-weight:bold;
font-size:14px;
background-color: black;
color: green;
font-family:Candara Light;
}

.window:hover .window2 {
visibility: visible;
}

#fore{
border:none;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
}

#fore2{
border:none;
}

#coords {
position: relative;
}

#coords:before {
content: attr(data-hover);
visibility: hidden;
opacity: 0;
background-color: black;
color: red;
text-align: center;
padding: 0px;
border:1px solid red;
position: absolute;
z-index: 1;
top: 4px;
font-family:calibri;
font-size:17px;
font-weight:bold;
left:-81px;
width:75px;
}

#coords:hover:before {
opacity:1;
visibility:visible;
}

#helyek{
border:none;
padding: 4px 4px;
font-size:0px;
margin-top: -4px;
margin-bottom: -4px;
margin-right: -4px;
margin-left: -4px;
background-color:rgb(255, 255, 255, 0.0);
}

#ext{
background-image:url('extras.png');
width:100px;
height:19px;
background-repeat: no-repeat;
background-size:initial;
border:none;
background-color:rgb(255, 255, 255, 0.0);
cursor:pointer;
}

#buttons{
width:181px;
height:30px;
background-size:cover;
background-repeat: no-repeat;
border:2px solid black;
margin-left:-400px;
margin-right:-400px;
padding-left:98%;
padding-top:16%;
cursor:pointer;
}

#buttons:hover{
box-shadow: 0px 0px 100px yellow, 0px 0px 100px yellow;
}

#res{
width:200px;
height:19px;
background-repeat: no-repeat;
background-size:initial;
border:none;
background-color:rgb(255, 255, 255, 0.5);
cursor:pointer;
}

#logo{
text-align:left;
margin-top:-140px;
margin-left:10px;
}

#logokep{
width:150px;
pointer-events:none;
}

#disz1{
margin-left: auto;
margin-right: auto;
width:100%;
border-collapse: collapse;
margin-top:10px;
border:none;
border-top:8px ridge #A50179;
}

#menu{
width:100%;
height:100px;
border:none;
border:8px ridge rgb(255, 255, 255, 0.0);
margin-left: auto;
margin-right: auto;
margin-top:-30px;
}

#menu2{
border:1px solid rgb(255, 255, 255, 0.0);
}

#last{
color:green;
font_family:Times New Roman;
font-size:18px;
line-height: 1.0;
letter-spacing:1px;
}

#em{
background-color:red;
color:white;
text-decoration:none;
}

#em:hover{
color:black;
}

#restab{
border:none;
margin-left: auto;
margin-right: auto;
width:500px;
height:300px;
margin-top:-20px;
}

#restab2{
border:none;
border-bottom:8px solid white;
}

#infocim{
margin-bottom:0px;
color:white;
font-size:50px;
font-family:Arial Black;
}

#theinfos{
line-height: 1.4;
color:white;
font-size:18px;
font-weight:bold;
font-family:Arial;
}

cc11{
color:red;
}

#mcim{
line-height:1.0;
color:white;
font-family:Arial;
}

#starr{
font-size:16px;
color:white;
font-family:calibri;
}

#tut{
pointer-events:none;
border:2px solid white;
width:570px;
}

#back{
width:300px;
height:50px;
background-repeat: no-repeat;
background-size: cover;
border:2px solid black;
cursor:pointer;
background-image:url('home.png');
}

#colorpicker{
border:none;
cursor:pointer;
margin-top:-5px;
}

#back:hover{
box-shadow: 0px 0px 100px yellow;
}

#readpls{
color:rgb(0,255,0);
font-size:18px;
text-decoration-line:underline;
text-decoration-style:wavy;
text-decoration-color:red;
}

#ruleslink{
text-decoration:none;
color:white;
text-decoration-color:whites;
background-color:red;
font-weight:bold;
}

#ruleslink:hover{
color:black;
}

#thecop{
margin-left: auto;
margin-right: auto;
margin-top:30px;
border:2px solid rgb(0, 255, 0, 0.1);
opacity:0.8;
}

#rules1{
margin-left: auto;
margin-right: auto;
width:602px;
border:3px solid red;
border-collapse:collapse;
color:rgb(0,255,0);
}

#rcim{
text-align:center;
letter-spacing:5px;
font-size:50px;
font-family:Arial Black;
text-decoration-line:underline;
text-decoration-style:double;
text-decoration-color:red;
color:white;
}

#rules3{
list-style-image:url('px.png');
with:30px;
}

#rules2{
background-color:white;
color:black;
font-weight:bold;
font-family:arial;
line-height:1.2;
width:90%;
}

#theback{
border:none;
margin-left:auto;
margin-right:auto;
margin-top:30px;
}

#igno{
background-color:red;
font-size:20px;
text-align:center;
color:white;
font-weight:bold;
font-family:calibri;
}

#last{
font-size:15px;
line-height:1.0;
}

#firstword{
text-align:center;
}

#firstword2{
background-color:red;
text-align:center;
color:white;
font-size:26px;
font-family:calibri;
font-weight:bold;
}

#koz{
height:30px;
opacity:0.0;
}

#occupie1{
margin-left: auto;
margin-right: auto;
width:500px;
border:3px solid rgb(0,255,0);
border-collapse:collapse;
}

#ocim{
text-align:center;
letter-spacing:2px;
font-size:50px;
font-family:Arial Black;
text-decoration:underline;
text-decoration-color:rgb(0,255,0);
color:white;
}

#occupie3{
color:rgb(0,255,0);
font-family:arial;
font-size:20px;
font-weight:bold;
}

#ocimag{
text-align:center;
}

#cooord{
border:1px solid red;
color:red;
font-family:calibri;
font-size:17px;
font-weight:bold;
text-align:center;
width:60px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
background-color:black;
}

#sweep1{
margin-left: auto;
margin-right: auto;
width:500px;
border:3px solid rgb(0,0,255);
border-collapse:collapse;
color:rgb(0,255,0);
}

#sweep2{
text-align:center;
letter-spacing:5px;
font-size:50px;
font-family:Arial Black;
text-decoration:underline;
text-decoration-color:rgb(0,0,255);
color:white;
}

#sweep3{
background-color:black;
text-align:center;
color:rgb(0,0,255);
font-size:26px;
font-family:tahoma;
font-weight:bold;
}

#sweep4{
list-style-image:url('px2.png');
with:30px;
}

#sweep5{
background-color:black;
color:blue;
font-weight:bold;
font-family:tahoma;
line-height:1.5;
width:90%;
}

#occupie4{
background-color:white;
color:black;
font-weight:bold;
font-family:arial;
line-height:1.5;
width:90%;
}

#occupylast{
color:white;
font-size:23px;
font-family:calibri;
font-weight:bold;
}
